
<%= render 'nav' %>
<center><img src = "https://media.istockphoto.com/photos/harvard-moors-hall-picture-id539018591?k=20&m=539018591&s=612x612&w=0&h=ouUNbewGEcaNAXMtbRMN8ji2RnC5cNdAdDt_qdpMcew=" style="width:850px;height:400px;"></center>
<p><h3>
XYZ is a coeducational, secondary boarding school, taking children from ages eleven to seventeen. Education at XYZ is not compulsory, with some students being home schooled as stated in the seventh book. Rowling initially said there are about one thousand students at XYZ. She later suggested around six hundred, while acknowledging that this number was still inconsistent with the small number of people in Harry's year. She further explained that this had resulted from her creating only 40 characters for Harry's year.</h3></p>
<br>
<h3>
<strong>
<center>
<%= link_to "Home" ,root_path %>
</center>
</strong>
</h3>

