<div class="row">
  <div class="col-md-6 col-lg-8">
    <table class="table table-sm">
      <thead>
<img src= "https://resources.finalsite.net/images/f_auto,q_auto/v1547658480/wyandotteorg/wmbrccwhhcmb2luvn7sx/departments.jpg" width="900",
     height="500">
      </thead>
    </table>
  </div>
<%= render 'depts' %>
